<%- include('layout/header') %>
<body>
    <h1>Usuarios - SISTEMA BANCARIO</h1>
    <div class="nav">
        <a href="/index">Inicio</a>
        <a href="/cooperativas">Cooperativas</a>
    </div>
    <!-- mensaje de exito-->
    <div id="message" class="message success" style="display:none;">¡Usuario agregado con éxito! </div>

    <ul id="user-list">
        <% usuarios.forEach(usuario => { %>
            <li>
                <span>ID: <%= usuario.id %> - <%= usuario.nombre %> - <%= usuario.email %></span>
                <div>
                    <button class="edit-button" onclick="editUser('<%= usuario.id %>', '<%= usuario.nombre %>', '<%= usuario.email %>')">Editar</button>
                    <button class="delete-button" onclick="deleteUser('<%= usuario.id %>')">Eliminar</button>
                </div>
            </li>
        <% }); %>
    </ul>

    <div class="form-container">
        <h2>Agregar Nuevo Usuario</h2>
        <form id="add-user-form" onsubmit="addUser(event)">
            <label for="id">ID:</label>
            <input type="text" id="id" name="id" required>

            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" required>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>

            <button type="submit">Agregar Usuario</button>
        </form>
    </div>

    <div class="form-container" id="edit-user-form-container" style="display:none;">
        <h2>Editar Usuario</h2>
        <form id="edit-user-form" onsubmit="updateUser(event)">
            <input type="hidden" id="edit-id" name="id">

            <label for="edit-nombre">Nombre:</label>
            <input type="text" id="edit-nombre" name="nombre" required>

            <label for="edit-email">Email:</label>
            <input type="email" id="edit-email" name="email" required>

            <button type="submit">Actualizar Usuario</button>
        </form>
    </div>

    <script> 
      
        function showMessage(message, type) {
           alert("Usuario agregado con éxito");
           location.reload();
        }

        function addUser(event) {
            event.preventDefault();

            const id = document.getElementById('id').value;
            const nombre = document.getElementById('nombre').value;
            const email = document.getElementById('email').value;

            fetch('http://localhost:3000/usuarios', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ id, nombre, email })
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    showMessage('Usuario agregado exitosamente. Refresca la página para ver los cambios.', 'success');
                }
            });
        }

        function deleteUser(id) {
            fetch(`http://localhost:3000/usuarios/${id}`, {
                method: 'DELETE'
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    showMessage('Usuario eliminado exitosamente. Refresca la página para ver los cambios.', 'success');
                }
            });
        }

        function editUser(id, nombre, email) {
            document.getElementById('edit-id').value = id;
            document.getElementById('edit-nombre').value = nombre;
            document.getElementById('edit-email').value = email;
            document.getElementById('edit-user-form-container').style.display = 'block';
        }

        function updateUser(event) {
            event.preventDefault();

            const id = document.getElementById('edit-id').value;
            const nombre = document.getElementById('edit-nombre').value;
            const email = document.getElementById('edit-email').value;

            fetch(`http://localhost:3000/usuarios/${id}`, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ nombre, email })
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    showMessage('Usuario actualizado exitosamente. Refresca la página para ver los cambios.', 'success');
                    document.getElementById('edit-user-form-container').style.display = 'none';
                }
            });
        }
    </script>
<div class="footer">
        Integrantes:<br>
        Br. Miguel Suarez. CI. V-28.206.469<br>
        Br. Rhonny Jaimes. CI. V-29.718.095<br>
        Br. Henry Hernandez. CI. V-30.808.485<br>
        Profesor: Roberto Di Michele<br>
        Materia: Backend
    </div>
<%- include('layout/footer') %>